<% include partials/header %>

<div class="container" style="width:700px; margin-top:10%">
    <p><span style="display:inline-block; width:50px"></span>Habitat is an educational website designed for learning about ecosystems by using geolocation. 
    Habitat uses the iNaturalist API, Mapquest API, and Wikipedia API to combine data into a convenient hub.
    While Habitat tries to screen out irrelevant information, all data is external and thus Habitat cannot be responsible for the photos and information that appear on this site.
    It is recommended that if you intend to use this site as an educational tool for children, to prescreen the information and pictures for the particular geolocations you intend to employ.
    </p>
<% include partials/footer %>